<div class="container">

<table class="table table-bordered">

  <thead> 
    <tr>
      <th>Project Title</th>
      <th>Project Description</th>
    </tr>
  
  <td>
  <div id="<%= dom_id project %>">
  <p>
    <%= project.title %>
  </p>
  </td>
  
  <td>
  <p>

    <%= project.description %>
  </p>
</td>

  </tbody>
  </table>

</div>

</div>
