<div class="container">

<table class="table table-bordered">

  <thead> 
    <tr>
      <th>Project Title</th>
      <th>Project Description</th>
    </tr>
  
  <td>
  <div id="<%= dom_id project %>">
  <p>
    <%= project.title %>
  </p>
  </td>
  
  <td>
  <span class="d-inline-block" style="width: 4px;">
  <p class="text-truncate">

    <%= project.description %>
  </p>
  </span>
</td>

  </tbody>
  </table>

</div>
</div>

